<li class="list-group-item">
  <h2>{{entry.title}}</h2>
  <h5><em>by <strong>{{entry.author}}</strong></em></h5>
  <p class="lead">{{entry.content}}</p>
  {{#if isImageShowing}}
    <p><img src={{entry.image}} alt={{entry.type}} {{action 'imageHide'}}></p>
  {{else}}
    <button {{action 'imageShow'}}>Show image</button>
  {{/if}}
  {{update-entry entry=entry update="update"}}
  <button {{action 'delete' entry}}>Delete Blog Entry</button>
</li>
